.bottom {
  background: var(--light-blue, #c0d9d9);
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  h2 {
    text-align: left;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
  }
  img {
    margin-top: 20px;
  }
}
